@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
}
:root{
   --font-color:#fff;
   --primary-color:#263C97;
   --bg-second-color:#E02020;
   --mt-right:50px;
}
html{
   scroll-behavior: smooth;
   overflow-x: hidden;
}
::-webkit-scrollbar{
   width:12px;
}
::-webkit-scrollbar-thumb{
   background-color: rgb(184, 184, 184);
   border-radius:20px;
   transition:background-color .5s .2s ease-in;
}
::-webkit-scrollbar-track{
   background-color:#fff;
}
::-webkit-scrollbar-thumb:hover{
   background-color:rgb(126, 126, 126);
}
body{
   /* overflow-x: hidden; */
   /* font-family: 'Lato', sans-serif; */
   width: 100%;
   height: 205vh;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

/* popup background start  */
.popup-background{
   border: 2px solid #000;
   width: 52.8%;
   transform: translateX(45%);
   margin-top: 10%;
   position: fixed;
   z-index: 9999;
   backdrop-filter: blur(15px);
   transition: 0.4s ease-in;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility:visible;
   transition-property: visibility;
}
.popup-background.popup-active{
   visibility: hidden;
   transition: visibility .4s ease-in;
}
.popup-background .container{
   transform: translateX(13px);
}
.popup-background .container .first-popup{
   padding: 0 12.3%;
   background-color: #B3DBD3;
}
.first-popup h4 {
   line-height: 50px;
   padding:0 2%;
   text-align: center;
}
.first-popup h3{
   text-align: center;
   margin-top: 10px;
}
.first-popup h2{
   color: #f19b87;
   text-align: center;
   margin-top: 15px;
   font-weight: 700;
}
.first-popup p{
   text-align: center;
   margin-right: 30px;
}
.first-popup input{
   border: none;
   outline: none;
   padding:6px 35px;
   border-radius: 4px;
   background-color: #000;
   color: #fff;
}
.first-popup button{
   display: block;
   text-align: center;
   transform: translateX(80px);
}
.second-popup a img{
  max-width: 500px;
  height:420px;
}
.close-btn  i{
   display: block;
   font-size:1rem;
   background-color: red;
   color: #fff;
   transform: translate(-60%,-860%);
   border-radius: 6px;
   padding: 0 5px;
}

/* navigation bar start  */
.nav-section-1{
   background-color:var(--primary-color);
   display: flex;
   justify-content: space-between;
   align-items:center;
   flex-flow: row wrap;
   gap:15px;
   width: 100%;
   position: relative;
   padding:1px 0;
}
.nav-section-1::after{
   content: "";
   width: 100%;
   height: 1px;
   background-color:#b1b1b1;
   position: absolute;
   bottom: 1px;
}
.dropdown button{
    margin-left: 8px;
    background-color: transparent;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    position: relative;
}
.dropdown-menu .dropdown-item{
   color: #000;
}
.dropdown button:hover,
.dropdown button:active,
.dropdown button:focus{
   color: #fff;
   outline: none;
   box-shadow: none;
   border: none;
}
.nav-section-1 div   {
   display:inline-block;
   padding:0 5px;
   color: #fff;
   font-size: .9rem;
}
.nav-section-1 p{
   transform: translateX(20px);
}
.nav-section-1 p a {
   color: #fff;
   font: 1rem;
   text-decoration: none;
   transition: color .3s ease;
}
.nav-section-1 p a:hover{
   color: #16BCDC;;
}
.nav-section-1 .nav-links-container ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap:20px;
   padding:0 20px;
}
.nav-section-1 .nav-links-container ul li a {
   display: block;
   color: #fff;
   font-size: .9rem;
   font-weight: 400;
   padding:0 10px;
   user-select: none;
   transition: all .3s ease;
   border-right: 1px solid #b1b1b1;
}
.nav-section-1 .nav-links-container ul li a:hover{
   color: #16BCDC;;
}
.nav-sec-2{
   background-color:var(--primary-color);
   display: flex;
   flex-flow: row wrap;
   padding:20px 0;
   width: 100%;
   position: relative;
}
.nav-sec-2::after{
   content: "";
   width: 100%;
   height: 1px;
   background-color:#b1b1b1;
   position: absolute;
   bottom:20px;
}
.nav-sec-2 .container-fluid .row .navbar-brand  {
   display: block;
   font-size: 2.5rem;
   color: #fff;
   font-weight: 600;
   user-select: none;
   font-family: 'Rubik', sans-serif;
}
.nav-sec-2 .container-fluid .row-search{
   position: relative;
}
.nav-sec-2 .container-fluid .row-search input{
   display: inline-block;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 6px;
   padding:12px 25rem;
   text-align: start;
   padding-left: 20px;
}
.nav-sec-2 .container-fluid .row-search i {
   display:inline-block;
   position: absolute;
   top:0;
   right:0;
   background-color:#16BCDC;
   color: #fff;
   font-size: 1.1rem;
   font-weight: 700;
   text-align: center;
   width: 50px;
   padding:11px 30px;
   cursor: pointer;
   border-radius: 2px;
   transition: all .4s ease;
}
.nav-sec-2 .container-fluid .row-search i:hover{
   background-color:#21d7fc;
}
.nav-sec-2 .container-fluid .row-search input[type = "text"]::placeholder{
   position: absolute;
   left:19px;
   font-size: .9rem;
   color: #000;
}
.nav-sec-2 .container-fluid .row-account i,
.nav-sec-2 .container-fluid .row-cart
{
   font-size: 2.2rem;
   color: #fff;
   display: inline-block;
   padding:0 4px;
}
.nav-sec-2 .container-fluid .row-account a,
.nav-sec-2 .container-fluid .row-cart a
{
   text-decoration: none;
   color: #fff;
   font-size: .9rem;
   user-select: none;
}
.nav-sec-2 .container-fluid .row-account .register,
.nav-sec-2 .container-fluid .row-cart .cart-money
{
   display: block;
   font-size: .9rem;
}
.nav-sec-2 .container-fluid .row-account a:hover,
.nav-sec-2 .container-fluid .row-cart a:hover
{
   color: #16BCDC;;
}
.row-cart .carts i::after{
   display: inline-block;
   font-size: 1rem;
   width: 25px;
   height: 25px;
   content: "0";
   background-color: #16BCDC;
   position: relative;
   bottom: 25px;
   right: 15px;
   border-radius: 50%;
   text-align: center;
}
.row-cart .carts .cart {
   position: relative;
   right: 20px;
}

.nav-sec-3{
   background-color: var(--primary-color);
   width: 100%;
   height: auto;
   position:sticky;
   top: 0;
   z-index: 99;
   padding:0 auto;
   transform: translateY(-18px);
}
.nav-sec-3 .row-nav-bar{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   user-select: none;
}
.nav-sec-3 .row-categories{
   padding:0 5px;
}
.nav-sec-3 .row-categories a span {
   display: block;
   width: 30px;
   height: 3px;
   background-color: #fff;
   margin: 4px;
}
.nav-sec-3 .row-categories .list{
   display: inline-block;
   color: #fff;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   transform: translate(20px,-23px);
}

.nav-sec-3 .row-nav-bar ul li{
   padding-left: 5px;
}
.nav-sec-3 .row-nav-bar ul li a{
   color: #fff;
   display: block;
   font-size:1rem;
   font-weight: 550;
   transition: all .4s ease;
}
.nav-sec-3 .row-nav-bar ul li a:hover{
   color: #16BCDC;
}
.nav-sec-3 .row-app span{
   color: #fff;
   font-size: .9rem;
   font-weight: 500;
}
.nav-sec-3 .row-nav-bar .fashion{
   position: relative;
}
.nav-sec-3 .row-nav-bar .fashion::after{
   content: "NEW";
   width: 35px;
   height:18px;
   color: #fff;
   font-size: .7rem;
   border-radius: 1px;
   background-color:#21d7fc;
   position: absolute;
   bottom: 20px;
   right: -6px;
   margin: 15px 0;
   text-align: center;
   user-select: none;
}
.nav-sec-3 .row-nav-bar .features{
   position: relative;
}
.nav-sec-3 .row-nav-bar .features::after{
   content: "PRO";
   width: 35px;
   height:18px;
   color: #fff;
   font-size: .7rem;
   border-radius: 1px;
   background-color:#FD6282;
   position: absolute;
   bottom: 20px;
   right: -6px;
   margin: 15px 0;
   text-align: center;
   user-select: none;
}
/* navigation bar end  */

/* market banner section start  */
main {
   position: relative;
   width: 100%;
   padding:0 8px;
   
   transform: translateY(-12px);
}
main .main-sub-section{
   background-image: url("../Assets/market_banner5.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   border-radius: 20px;
   height: 320px;
   width: 51%;
   display: block;
}
main .main-sub-section h3{
   color: #fff;
   font-weight: 600;
   letter-spacing: 1px;
   transform: translate(60px,30px);
   line-height: 60px;
}
main .main-sub-section p {
   color: #fff;
   font-weight: 500;
   letter-spacing: .6px;
   transform: translate(70px,30px);
   padding:5px 0;
   font-size: 1.1rem;
}
main .main-sub-section a {
   transform: translate(60px,60px);
   display: block;
   color: #fff;
   font-size: 1.2rem;
   font-weight: 500;
   border:2px solid #fff;
   text-decoration: none;
   border-radius: 30px;
   width: 25%;
   transition: all .3s ease;
   box-shadow: none;
   letter-spacing: .2px;
   padding:10px 0;
}
.market-banner{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   transform: translate(-18px,-20px);
}

.market-banner .market-banner-2{
   display: flex;
   transform: translateX(-20px);
}
.market-banner .market-banner-1{
   display: flex;
   flex-wrap: nowrap;
}
.market-banner .market-banner-1,.market-banner .market-banner-2{
   gap: 18px;
   width: 350px;
}
.main .main-sub-section a:hover, .main .main-sub-section a:active{
   background-color: #16BCDC;
   color: #fff;
   border: 2px solid #16BCDC;
   box-shadow: none;
}
.market-banner .market-banner-1 .market-sub-banner-1,
.market-banner .market-banner-1 .market-sub-banner-2,
.market-banner .market-banner-2 .market-sub-banner-3,
.market-banner .market-banner-2 .market-sub-banner-4
{
   cursor: pointer;
   transition: opacity .4s ease;
}
.market-banner .market-banner-1 .market-sub-banner-1:hover,
.market-banner .market-banner-1 .market-sub-banner-2:hover,
.market-banner .market-banner-2 .market-sub-banner-3:hover,
.market-banner .market-banner-2 .market-sub-banner-4:hover
{
   opacity: .85;
}

.market-banner .market-banner-1,.market-banner-2{
   display: flex;
   align-items: center;
   column-gap: 50px;
   flex-flow:row wrap;
   margin: 20px 30px;
}
.market-banner-1 .market-sub-banner-1{
   background-image: url("../Assets/market_banner4.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 400px;
   height: 150px;
   border-radius: 20px;
}
.market-banner-1 .market-sub-banner-2{
   background-image: url("../Assets/market_banner2.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 400px;
   height: 150px;
   border-radius: 20px;
}
.market-banner-2 .market-sub-banner-3{
   background-image: url("../Assets/market_banner1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 400px;
   height: 150px;
   border-radius: 20px;
}
.market-banner-2 .market-sub-banner-4{
   background-image: url("../Assets/market_banner6.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 400px;
   height: 150px;
   border-radius: 20px;
}

.market-banner-1 .market-sub-banner-1 h5,p ,
.market-banner-1 .market-sub-banner-2 h5,p,
.market-banner-2 .market-sub-banner-3 h5,p,
.market-banner-2 .market-sub-banner-4 h5,p
{
   color: #fff;
   padding:10px 20px;
   transform: translate(8px,20px);
}
.market-banner-1 .market-sub-banner-1 h5,
.market-banner-1 .market-sub-banner-2 h5,
.market-banner-2 .market-sub-banner-3 h5,
.market-banner-2 .market-sub-banner-4 h5
{
   font-size: 1.6rem;
   font-weight: 600;
}
.market-banner-1 .market-sub-banner-1 p,
.market-banner-1 .market-sub-banner-2 p
{
   font-size: 1.1rem;
   font-weight: 500;
}
/* market banner section end */

.product{
   width: 100%;
   position: relative;
   top: -4%;
   left: -30px;
}
.product .container-fluid .product-title p{
   font-size:24px;
   color: rgb(34, 34, 34);
   position: relative;
   letter-spacing: .4px;
}
.product-title p::after{
   content: "";
   width: 18%;
   height: 3px;
   background-color: #16BCDC;
   position: absolute;
   top: 10%;
   left: 18px;
   padding: 1.5px 0;
   margin: 45px 0;
   border-radius: 10px;
}
.product .container-fluid .product-slider-btn{
   transform: translateY(20px);
}
.product-slider-btn .next-slider button{
  box-shadow: none;
  border: none;
  outline: none;
  position: relative;
  margin: 0 4px;
  transition: .4s ease-in;
}
.next-slider button::after{
   content: "<<";
   background-color: #16b0cf;
   color: #fff;
   width: 50px;
   height: auto;
   border-radius: 10%;
   cursor: pointer;
   font-size: 1.5rem;
   padding:0 18px;
   transition: .4s ease-in;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.prev-slider button{
   box-shadow: none;
   border: none;
   outline: none;
   position: relative;
   margin: 0 4px;
   transition: .4s ease-in;
}
.prev-slider button::after{
   content: ">>";
   background-color: #16b0cf;
   color: #fff;
   width: 50px;
   height: auto;
   border-radius: 10%;
   cursor: pointer;
   font-size: 1.5rem;
   padding:0 18px;
   transition: .4s ease-in;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.container-fluid .product-container{
   padding:0 8px;
   transform: translateY(2px);
   height: auto;
   width: 200%;
   transition: all .5s ease-in;
}

/* product-item section start  */
.container-fluid .product-container .product-item-1,
.container-fluid .product-container .product-item-2,
.container-fluid .product-container .product-item-3,
.container-fluid .product-container .product-item-4,
.container-fluid .product-container .product-item-5
{
   padding: 0 30px;
   background-color:#fff;
   user-select: none;
   width: 230px;
   height: 320px;
   border-radius: 5px;
   cursor: pointer;
   transition: transform .2s ease;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product-item-1:hover,
.product-item-2:hover,
.product-item-3:hover,
.product-item-4:hover,
.product-item-5:hover
{
   transform:translateY(-4px);
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.product-item-1:active,
.product-item-2:active,
.product-item-3:active,
.product-item-4:active,
.product-item-5:active
{
   transform:translateY(-4px);
}
.product-item-4 {
  position: relative;
}
.product-item-4::after{
   content: "Out-of-Stock";
   background-color:rgb(0,122,209);
   position: absolute;
   top: 10px;
   left: 3px;
   color: #fff;
   padding:0 6px;
   font-size: .7rem;
   border-radius: 4px;
}

.product-item-1 a img,
.product-item-2 a img,
.product-item-3 a img,
.product-item-4 a img,
.product-item-5 a img
{
   width: 170px;
   height: 170px;
   text-align: center;
}
.product-item-1 .icon,
.product-item-2 .icon,
.product-item-3 .icon,
.product-item-4 .icon,
.product-item-5 .icon
{
   position: relative;
}
.product-item-1 .icon i,
.product-item-2 .icon i, 
.product-item-3 .icon i, 
.product-item-4 .icon i, 
.product-item-5 .icon i 
{
   padding:3px 0;
   text-align: center;
   width: 30px;
   height: 30px;
   display: block;
   color: #000;
   position: absolute;
   top:10px;
   right: -25px;
   background-color:#fff;
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(31, 31, 31, 0.1) 0px 0px 0px 1px inset;
}
.product-item-1 p,
.product-item-2 p,
.product-item-3 p,
.product-item-4 p,
.product-item-5 p
{
   text-align: center;
   font-size: .95rem;
   color: #000;
   font-weight: 650;
   letter-spacing: .4px;
   transition: color .2s ease;
   transform: translateY(8px);
}
.product-item-1 p:hover,
.product-item-2 p:hover,
.product-item-3 p:hover,
.product-item-4 p:hover,
.product-item-5 p:hover
{
   color: #16BCDC;
}
.product-item-1 .product-review,
.product-item-2 .product-review,
.product-item-3 .product-review,
.product-item-4 .product-review,
.product-item-5 .product-review

{
   position: relative;
   bottom: 12%;
   transform: translateX(-20px);
}
.product-item-1 .product-review i,
.product-item-2 .product-review i,
.product-item-3 .product-review i,
.product-item-4 .product-review i,
.product-item-5 .product-review i
 {
   display: inline-block;
   font-size: .8rem;
   color: rgb(248,142,79);
}
.product-item-1 .price,
.product-item-2 .price,
.product-item-3 .price,
.product-item-4 .price,
.product-item-5 .price
{
   display: flex;
   gap:90px;
   margin-top: -40px;
   text-align: center;
}
.product-item-1 .price span,
.product-item-2 .price span,
.product-item-3 .price span, 
.product-item-4 .price span,
.product-item-5 .price span 
{
   display: inline-block;
   font-size: 1rem;
   color: #18BDDC;
   font-weight: 800;
   transform: translateX(-20px);
}
.product-item-1 .price a,
.product-item-2 .price a,
.product-item-3 .price a,
.product-item-4 .price a,
.product-item-5 .price a
{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   background-color: #18BDDC;
   padding:8px 10px;
   box-shadow: none;
   border-radius: 4px;
   transition: all .4s ease;
   transform: translateY(-10px);
}
.product-item-1 .price a:hover,
.product-item-2 .price a:hover,
.product-item-3 .price a:hover,
.product-item-4 .price a:hover,
.product-item-5 .price a:hover

{
   background-color:rgb(21, 161, 189);
}
/* product-item section end  */

/* market-sub-banner-section start  */
.container-fluid .market-sub {
   padding:0 40px;
   height: 160px;
   display: grid;
   grid-gap: 30px;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.market-sub .market-sub-banner-1{
   background-image: url("../Assets/market-sub-banner-1.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 12px;
   cursor: auto;
   user-select: none;
}

.market-sub .market-sub-banner-2{
   background-image: url("../Assets/market-sub-banner-2.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 12px;
   cursor: auto;
   user-select: none;
}
.market-sub .market-sub-banner-3{
   background-image: url("../Assets/market-sub-banner-3.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 12px;
   cursor: auto;
   user-select: none;
}
.market-sub .market-sub-banner-1 h3,p,
.market-sub .market-sub-banner-2 h3,p,
.market-sub .market-sub-banner-3 h3,p
{
    color: #fff;
    transform: translate(20px,15px);
}
.market-sub .market-sub-banner-1 h3,
.market-sub .market-sub-banner-2 h3,
.market-sub .market-sub-banner-3 h3
{
   font-weight: 550;
   letter-spacing: .5px;
}
.market-sub .market-sub-banner-1 p,
.market-sub .market-sub-banner-2 p,
.market-sub .market-sub-banner-3 p
{
   transform: translateY(25px);
}
.market-sub .market-sub-banner-1,
.market-sub .market-sub-banner-2,
.market-sub .market-sub-banner-3
{
   transition: opacity .4s ease;
}
.market-sub .market-sub-banner-1:hover,
.market-sub .market-sub-banner-2:hover,
.market-sub .market-sub-banner-3:hover
{
   opacity: .85;
}
/* market-sub-banner-section end  */

/* feature product section start  */
.feature-product{
   transform: translateY(35px);
}
.feature-product .container-fluid .feature-product-title p{
    color: #000;
    font-size: 24px;
    position: relative;
}
.feature-product-title p::after{
   content: "";
   width: 20%;
   height: 6px;
   background-color: #16BCDC;
   position: absolute;
   top: 12%;
   left:40%;   
   padding: 1.5px 0;
   margin: 45px 0;
   /* border-radius: 12px; */
}
.feature-product .product-banner button.banner-active{
   transform: translateY(14px);
   display: inline-block;
   background-color: rgb(24 189 220);
   color: #fff;
   outline: none;
   border: none;
   margin: 0 4px;
   padding: 8px 30px;
   border-radius: 4px;
   text-align: center;
   transition: background-color .1s ease-in;
}
.feature-product .product-banner button.banner-active:hover{
   background-color:rgb(21, 161, 189);
}
.feature-product .product-banner button{
   transform: translateY(14px);
   outline: none;
   margin: 0 3px;
   padding: 8px 30px;
   border-radius: 4px;
   text-align: center;
   border: 1px solid rgb(231, 229, 229);
   transition: all .2s ease-in;
}

.feature-product .product-banner button:active{
   background-color:rgb(21, 161, 189);
}
/* product-main section start  */
.content-product{
   height: 50%;
   width: 100%;
}
.content-product .sub-main-section-1, .sub-main-section-2, .sub-main-section-3 ,.sub-main-section-4 , .sub-main-section-5{
   margin: 0 6px;
   background-color:#fff;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   border-radius: 4px;
   max-width: 400px;
   height: auto;
}
.content-product:hover{
   cursor: pointer;
}
.content-product a img{
   display:inline-block;
   height: auto;
}
.content-product .product-title{
   font-size: 1rem;
   color: #000;
   font-weight: 600;
   width: 90%;
}
.content-product .product-price{
   color: #18BDDC;
   width: 100%;
   font-weight: 600;
}
.content-product .sub-main-section-1 .product-cart, .sub-main-section-2 .product-cart, .sub-main-section-3 .product-cart,.sub-main-section-4 .product-cart,.sub-main-section-5 .product-cart{
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: .4px;
   color: #fff;
   background-color: #18BDDC;
   padding:8px 10px;
   border-radius: 4px;
   transform: translateY(20px);
   transition: background-color .4s ease-in;
   max-width: 350px;
}
/* main production section pseudo class  */
.main-content-section-1 .sub-main-section-2{
   position: relative;
}
.main-content-section-1 .sub-main-section-2::after{
   content: "NEW";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #519F41;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   left: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-1 .sub-main-section-1{
   position: relative;
}
.main-content-section-1 .sub-main-section-1::after{
   content: "-35%";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-1 .sub-main-section-5{
   position: relative;
}
.main-content-section-1 .sub-main-section-5::after{
   content: "SALE";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-2 .sub-main-section-1{
   position: relative;
}
.main-content-section-2 .sub-main-section-1::after{
   content: "-20%";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-2 .sub-main-section-3{
   position: relative;
}
.main-content-section-2 .sub-main-section-3::after{
   content: "STOCK";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #2A73A7;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
/* content-product with css and js */
.content-product{
  display: none !important;
  transition: all .4s ease-in;
}
.content-product.product-is-active{
   display: flex !important;
   transition: all .4s ease-in;
}

/* content-product with css and js */

/* adjust product start */
.main-content-section-3 .sub-main-section-1{
   padding: 3% 0;
   height: 350px;
}
.main-content-section-3 .sub-main-section-1 .product-cart{
   transform: translateY(60px);
}
.main-content-section-3 .sub-main-section-2{
   padding: 3% 0;
   height: 350px;
}
.main-content-section-3 .sub-main-section-3{
   padding: 2.1% 0;
   height: 350px;
}
.main-content-section-3 .sub-main-section-3 .product-cart{
   transform: translateY(13px);
}
.main-content-section-3 .sub-main-section-4{
   padding: 2.4% 0;
   height: 350px;
}
.main-content-section-3 .sub-main-section-4 .product-cart{
   transform: translateY(60px);
}
.main-content-section-4 .sub-main-section-1{
   padding:3% 0;
   height: 300px;
   transform: translateY(-5px);
}
.main-content-section-4 .sub-main-section-1{
   position: relative;
}
.main-content-section-4 .sub-main-section-1::after{
   content: "STOCK";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #2A73A7;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-4 .sub-main-section-5{
   position: relative;
}
.main-content-section-4 .sub-main-section-5::after{
   content: "SALE";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-4 .sub-main-section-3{
   height: 310px;
   padding: 1.1% 0%;
   position: relative;
}
.main-content-section-4 .sub-main-section-3::after{
   content: "BEST";
   width: 60px;
   height: 26px;
   color: #000;
   background-color:rgba(184, 184, 5, 0.856);
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-4 .sub-main-section-4{
   transform: translateY(-5px);
   height: 300px;
}
.main-content-section-5{
   transform: translateY(-22px);
}
.main-content-section-5 .sub-main-section-1{
    padding:3.4% 0;
    height: 300px;
    position: relative;
}
.main-content-section-5 .sub-main-section-1::after{
   content: "-12%";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-5 .sub-main-section-2{
   padding:1% 0;
   height: 300px;
}
.main-content-section-5 .sub-main-section-3{
   padding:1.8% 0;
   height: 300px;
}
.main-content-section-5 .sub-main-section-4{
   padding:1.4% 0;
   height: 300px;
}
.main-content-section-5 .sub-main-section-5{

   margin-top: 1.5%;
}

.main-content-section-6 .sub-main-section-1{
   padding: .4% 0;
   height: 320px;
}
.main-content-section-6 .sub-main-section-3{
   position: relative;
}
.main-content-section-6 .sub-main-section-5{
   position: relative;
}
.main-content-section-6 .sub-main-section-5::after{
   content: "-20%";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #B82E30;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-6 .sub-main-section-3::after{
   content: "STOCK";
   width: 60px;
   height: 26px;
   color: #fff;
   background-color: #2A73A7;
   padding: 4px 8px;
   border-radius: 4px;
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: center;
   font-size: .8rem;
}
.main-content-section-6  .sub-main-section-3{   
   height: 320px;
   padding: 2.7% 0;
}
.main-content-section-6  .sub-main-section-4{   
   height: 320px;
   padding: 2.1% 0;
}
.main-content-section-6  .sub-main-section-5{   
   height: 320px;
   padding: 3% 0;

}
/* feature product section end  */

/* product-categories section start  */
.product-categories{
    transform: translateY(30%);
}
.product-categories .container-fluid .stocks-content-1{
   gap:15px;
}
.stocks-content-1 .sub-stock-1 .market-img-1,
.stocks-content-1 .sub-stock-1 .market-img-2
{
     display: inline-block;
     max-width: 330px;
     height: auto;
     border-radius: 20px;
     margin: 5px 0;
     transition:  opacity .3s ease;
}
.stocks-content-1 .sub-stock-1 .market-img-1:hover,
.stocks-content-1 .sub-stock-1 .market-img-2:hover{
  opacity: .9;
}
.sub-stock-1 .market-link-1,
.sub-stock-1 .market-link-2
{
   display:inline-block;
   font-size: 1rem;
   color: #000;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: .5px;
   background-color: #fff;
   padding:6px 16px;
   border-radius: 2px;
   text-decoration: none;
   width: 45%;
   transform: translate(80px,-80px);
}
.stocks-content-1 .sub-stock-2 img{
   display: inline-block;
   max-width: 300px;
   height:366px;
   border-radius: 20px;
   transform: translateY(6px);
   transition:  opacity .3s ease;
}
.stocks-content-1 .sub-stock-2 img:hover{
   opacity: .9;
}
.sub-stock-2 a {
   display:inline-block;
   font-size: 1rem;
   color: #000;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: .5px;
   background-color: #fff;
   padding:6px 16px;
   border-radius: 2px;
   text-decoration: none;
   width: 45%;
   transform: translate(80px,-70px);
}
/* finish stock 1 end  */
.stocks-content-2{
  margin:0 30px;
}
.stocks-content-2 .sub-stock-3  .market-img-3{
   display: inline-block;
   max-width: 300px;
   height:366px;
   border-radius: 20px;
   transform: translateY(6px);
   transition: opacity .3s ease;
}
.sub-stock-3 .market-img-3:hover{
   opacity: .9;
}
.sub-stock-3 a{
   display:inline-block;
   font-size: 1rem;
   color: #000;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: .5px;
   background-color: #fff;
   padding:6px 16px;
   border-radius: 2px;
   text-decoration: none;
   width: 45%;
   transform: translate(80px,-70px);
}
/* finish stock 2 end  */

.stocks-content-3 .sub-stock-4  img{
   display: inline-block;
   max-width: 330px;
   height: auto;
   border-radius: 20px;
   margin: 5px 0;
   transition:  opacity .3s ease;
   transition: opacity .3s ease;
}
.sub-stock-4 img:hover{
   opacity: .9;
}
.stocks-content-3 .sub-stock-4 a{
   display:inline-block;
   font-size: 1rem;
   color: #000;
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: .5px;
   background-color: #fff;
   padding:6px 16px;
   border-radius: 2px;
   text-decoration: none;
   width: 45%;
   transform: translate(80px,-70px);
}
/* finish stock 3 end  */
/* product-categories section  end */
/* 
sale product section start  */

.sale-product{
    transform: translateY(30%);
}
.sale-product-title p{
   font-size: 24px;
   letter-spacing: .4px;
   width:30%;
   transform: translateX(-20px);
}
.sale-product-title p span {
   display: inline-block;
   transform: translateY(4px);
}
.sale-product-container a {
   cursor: pointer;
}
.sale-product-container .sale-product-section-1 .card,
.sale-product-container .sale-product-section-2 .card,
.sale-product-container .sale-product-section-3 .card,
.sale-product-container .sale-product-section-4 .card
{
   border-radius: 5px;
   height: 355px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card img{
   transition: opacity .2s ease;
}
.card img:hover{
   opacity: .8;
}
.sale-product-section-1 .card h5,
.sale-product-section-2 .card h5,
.sale-product-section-3 .card h5,
.sale-product-section-4 .card h5
{
   margin-top: 20px;
   font-weight: 600;
   cursor: pointer;
   font-size: 1.2rem;
}
.card h5:hover{
   color: #16BCDC;
}
.sale-product-section-1 .card .sale-link,
.sale-product-section-2 .card .sale-link,
.sale-product-section-3 .card .sale-link,
.sale-product-section-4 .card .sale-link
{
   padding-top: 16px;
}
.sale-link a {
     color: #000;
     font-weight: 550;
}
.sale-link a:hover{
   color: #18BDDC;
}

/* 
sale product section end  */

/* product slides container start */
.product-slides-container  {
   margin-top: 15%;
}
.product-slides-container .product-slides-image {
   animation: productSlider 20s ease-in-out 0.4s infinite;
   margin-left: -14%;
   transition: animation .12s ease-in;
}

@keyframes productSlider {
 5%{
   transform: translateX(5%);
 }
 10%{
   transform: translateX(9%);
 }
 15%{
   transform: translateX(10%);
 }
 25%{
   transform: translateX(11%);
 }
}

/* product slides container end */

/* footer element start  */

footer{
  margin-top: 3%;
   background-color: #1F2024;
}
footer a {
   text-decoration: none;
}

footer .container-fluid  .product-services-container{
   width: 100%;
   padding:4% 0;
}
/* product services container start  */
.product-services-container .product-services-link-1 .services-icon,
.product-services-container .product-services-link-2 .services-icon,
.product-services-container .product-services-link-3 .services-icon,
.product-services-container .product-services-link-4 .services-icon
{
   font-size: 3rem;
   color: #16BCDC;
}
.product-services-container .product-services-link-1 .delivery,
.product-services-container .product-services-link-2 .delivery,
.product-services-container .product-services-link-3 .delivery,
.product-services-container .product-services-link-4 .delivery
{
   color: #fff;
   font-weight: normal;
   margin-left: 15px;
   font-size: 1.1rem;
   text-transform: uppercase;
}
.product-services-container .product-services-link-1 .services,
.product-services-container .product-services-link-2 .services,
.product-services-container .product-services-link-3 .services,
.product-services-container .product-services-link-4 .services

{
   color: rgb(185, 182, 182);
   font-weight: normal;
   margin-left: 15px;
   font-size: .9rem;
   text-align: center;
   margin-top: 5px;
}
hr{
   display: block;
   width: 200%;
   height: 80px;
   background-color:#fff;
   transform: translateY(-29px);
}
/* product services container end  */

/* product footer container start  */
footer .product-footer-container {
   padding: 5% 1%;
   transform: translateY(-50px);
}
.product-footer-container ul li a {
   color: rgb(204, 204, 204);
   text-decoration: none;
}
.product-footer-container .product-footer-section-1 .contact-title p{
   color: rgb(204, 204, 204);
  font-size: .9rem;
  transform: translateX(-20px);
}
.contact-title span {
   color: rgb(204, 204, 204);
   font-size: .9rem;
   margin:8px 0;
}
.contact-title i {
   color: rgb(204, 204, 204);
   font-size: .9rem;
}
.contact-links{
   margin-top: 40px;
}
.contact-links h5{
   margin-bottom: 15px;
   letter-spacing: .5px;
   font-size: 1rem;
}
.contact-links a img {
   display: inline-block;
   max-width: 40px;
   height: auto;
   margin: 0 5px;
   border-radius: 7px;
   transition: all .3s ease;
}
.contact-links a img:hover{
   border-radius: 50%;
}

.product-footer-section-2 h5,
.product-footer-section-2 h5,
.product-footer-section-3 h5,
.product-footer-section-4 h5
{
   text-align: center;
   color: red;
   margin-bottom: 30px;
   font-size: 1.2rem;
   letter-spacing: .4px;

}
.product-footer-section-2 .product-sub-links li,
.product-footer-section-3 .product-sub-links li,
.product-footer-section-4 .product-sub-links li
{
   margin: 10px 0;
   user-select: none;
}
.product-sub-links li a:hover{
   color: #16BCDC;
}

.product-footer-section-5 h5{
   font-size: 1.2rem;
   letter-spacing: .4px;
}
.product-footer-section-5 p{
   color: rgb(204, 204, 204);
   font-size: .9rem;
}
.product-footer-section-5 input{
   display: inline-block; 
   padding: 10px 45px;
   border-radius: 2px;
   border: none;
   outline: none;
   margin-top: 20px;
   border-radius: 4px;
}
.product-footer-section-5 input::placeholder{
   font-size: .9rem;
   color: rgb(128, 128, 128);
   padding-left: -20px;
   transform: translateX(-20px);
}
.product-footer-section-5 span {
   display: inline-block;
   color:#fff;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: .4px;
   font-size: 1rem;
   background-color:#16BCDC;
   padding: 10px 20px;
   border-radius: 4px;
   transform: translateX(-10px);
   cursor: pointer;
   transition: .3s ease;
}
.product-footer-section-5 span:hover{
   background-color:#16b0cf;
}
/* product footer section start  */
.cookies-toggle{
   height: 60px;
   background-color: #4A4A4A;
   position: fixed;
   z-index: 9999;
   bottom: 0;
   width: 100%;
}
.cookies-toggle .container-fluid .cookies-paragraph p{
   color: #fff;
   font-weight: normal;
}
.cookies-paragraph a {
   margin-top:12px;
   padding-left: 6px;
   text-decoration: underline;
   color: #fff;
   font-weight: normal;
}
.cookies-paragraph a:hover{
   color: #0eacd8;
}
.cookies-links a {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   background-color: #0eacd8;
   transition: background-color .2s ease;
   text-transform: uppercase;
   transform: translateX(12px);
   padding:17px 55px;
   font-weight: bold;
   letter-spacing: .6px;
   cursor: pointer;
}
.cookies-links a:hover{
   background-color: #3ACDF6;
}
.cookies-links a:active{
   background-color: #3ACDF6;
}
